<app-users-header></app-users-header>
<div id="part1">
  <img id="img_1" src="./1.jpg" alt="">

  <div id="part1_info">
    <div id="contenedor">
      <h1 id="h11">
          The Weekend
      </h1>
     
        <p id="p1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque sit maiores eos repellendus magnam iste minus adipisci voluptatibus, natus ipsam in ipsa ducimus quam doloribus incidunt mollitia temporibus et non.
      </p>
      <button id="btn1">
        Conoce mas ...
      </button>
      </div>
      
  </div>
</div>

<app-user-form></app-user-form>
<app-users-part3></app-users-part3>
<app-users-footer></app-users-footer>
