<footer id="footer">
    <div id="div_central">
        <div id="div_1">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem non, voluptatibus aut maxime voluptas veniam fuga inventore alias nemo delectus ullam tenetur repellendus nesciunt quos doloribus. At, quas aut!
            dasdasdas
           </p>
            
        </div>
        <div id="div_central2">
           
             <div id="div_3">
                 <p>Faceboock</p>
                 <p>Whassap</p>
                 <p>Messenger</p>
     
             </div>
        </div>
    </div>
    <hr>
    
</footer>