<p id="titulo">The weekend , conocelo !..</p>
<div id="div_central">
    <div id="contener_h1">
        <img id="img6" src="./9.jpg" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div id="contenedor_h2">
        <img id="img5" src="./8.jpeg" alt="">
    </div>
    <div id="contenedor_h3">
        <img id="img7" src="./7.jpg" alt="">
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>