#img5{
   height: 300px;
}
#img6{
    margin: 10px;
    width: 270px;
    height: 180px ;
}
#img7{
    margin: 10px;
    width: 270px;
    height: 180px ;
}
#div_central{
    display: flex;
    justify-content: center;
    border: 2px black solid;
    margin: 20px;
    
}